body
{font-family: 'Uchen', serif;
    font-size: 48;
    color: rgb(233, 248, 247); 
    
    
    
    
    background-image: url(imeg/contactback.jpeg.jpg) ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}

.label {right: auto;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
float: right;
color: #76BA99;
font-size: larger;}

