/* Add a black background color to the top navigation */
.topnav {
    background-color: #EDDFB3;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #76BA99;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: burlywood;
    color: #EDDFB3;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #876445;
    color: white;
  }
  body{font-family: 'Rubik', serif;
    font-size: 20;} 
    

  body {background-image: url(/imeg/reflex1.jpg); height: 300;}

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #dabba1;
    color:aqua;
    text-align: center;
    font-family: 'Rubik', serif;
    font-size: 20;
    
  }
  .center {
    text-align: right;
    color: #76BA99;
    font-size: xx-large;
    
  }
  
 